<div class="col-xs-12 col-sm-6">
  <div class="thumbnail">
    <% if partner.image.present? %>
        <div class="thumbnail-image">
          <% if partner.link.present? -%>
              <%= link_to(image_tag(partner.thumbnail.url), partner.link, :target => :blank, :rel => 'external') %>
          <% else -%>
              <%= image_tag(partner.thumbnail.url) %>
          <% end -%>
        </div>
    <% end -%>
    <div class="caption">
	      <% if partner.link.present? -%>
	          <h4 class="thumbnail-title"><%= link_to(partner.title, partner.link, :target => :blank, :rel => 'external') %></h4>
	      <% else -%>
	          <h4 class="thumbnail-title"><%= partner.title %></h4>
	      <% end -%>
	    </h2>
	    <%= render_copy_text(partner.body) %>
	  </div>
  </div>
</div>