<%# resource_cache(resource) do %> 
<div class="container"> 
  <div class="page-header">
    <h1><%= resource.title %></h1>
  </div>
  <% if Rails.env.development? || site.preferred_google_map_api_key.present? %>
  <div class="clearfix"><div id="map-canvas"></div></div>
      <% marker = local_assigns.has_key?(:point) ? point : "17.905198,-62.827539" %> <%# sbh %>
      <script type='text/javascript' src="http://maps.google.com/maps/api/js?key=<%= Rails.env.development? ? 'AIzaSyBV-l_UyG5vlBvMgtz5c9gg1PuKzSSBkUQ' : site.preferred_google_map_api_key %>&sensor=false"></script>
  <% end %>
  <div class="row">
    <div class="col-sm-6">
      <%= render_copy_text(resource.body) %> 
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <form id="contact-form" action="/inquiries" method="post" data-remote="true">
             <input type="text" name="inquiry[ghost]" id="inquiry_ghost" value="" class="form-control hide"> 
            <div class="row">	
              <div class="col-xs-12 form-group">
                <input type="text" name="inquiry[name]" id="inquiry_name" value="" class="form-control required" placeholder="<%= t('simple_form.labels.inquiry.name') %>">
              </div>
              <div class="col-xs-12 form-group">
                <input type="text" name="inquiry[email]" id="inquiry_email" value="" class="form-control required email" placeholder="<%= t('simple_form.labels.inquiry.email') %>">
              </div>
              <div class="col-xs-12 form-group">
                <textarea name="inquiry[message]" id="inquiry_message" rows="20" cols="30" class="form-control required" placeholder="<%= t('simple_form.labels.inquiry.message') %>"></textarea>
              </div>
              <div class="col-xs-12 form-group">
                <input type="hidden" name="submitted" id="submitted" class="button" value="SEND"><button id="submit" class="btn btn-primary btn-block" type="submit"><%= t("gko.inquiry_submit") %></button>
              </div>
              <div class="col-xs-12 form-group">
                <p id="error" data-alert="" class="alert"><%= t("gko.inquiry_error") %></p>
                <p id="thanks" data-alert="" class="alert alert-success"><%= t("gko.inquiry_thanks") %></p>
                <p id="timedout" data-alert="" class="alert"><%= t("gko.inquiry_connection_time_out") %></p>
                <p id="state" data-alert="" class="alert"></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%# end %>