<%# resource_cache(resource) do %>
 
<article class="container single-product"> 
  <div class="page-header">
    <h1><%= resource.title %></h1>
    <%= link_to(t("custom.back_to_fleet"), parent.public_url) %>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= render_slideshow_for(resource) %> 
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= render_copy_text(resource.body) %>
      <h4><%= raw "#{t('custom.specifications')}" %></h4>
      <%= render_copy_text(resource.specifications) %>
      <h4><%= raw "#{t('custom.rates')}" %></h4>
      <div class="table-responsive">
        <table class="table">
          <tr>
            <td><strong><%= raw "#{t('custom.season_one')}" %></strong></td>
            <td><%= raw "#{resource.season_one_price_per_day}&nbsp;€ / #{t('custom.per_day')}" %></td>
            <td><%= raw "#{resource.season_one_price_per_week}&nbsp;€ / #{t('custom.per_week')}" %></td>
          </tr>
          <tr>
            <td><strong><%= raw "#{t('custom.season_two')}" %></strong></td>
            <td><%= raw "#{resource.season_two_price_per_day}&nbsp;€ / #{t('custom.per_day')}" %></td>
            <td><%= raw "#{resource.season_two_price_per_week}&nbsp;€ / #{t('custom.per_week')}" %></td>
          </tr>
          <tr>
            <td><strong><%= raw "#{t('custom.season_three')}" %></strong></td>
            <td><%= raw "#{resource.season_three_price_per_day}&nbsp;€ / #{t('custom.per_day')}" %></td>
            <td><%= raw "#{resource.season_three_price_per_week}&nbsp;€ / #{t('custom.per_week')}" %></td>
          </tr>
          <tr>
            <td><strong><%= raw "#{t('custom.insurance')}" %></strong></td>
            <td><%= raw "#{resource.insurance_price_per_day}&nbsp;€ / #{t('custom.per_day')}" %></td>
            <td><%= raw "#{resource.insurance_price_per_week}&nbsp;€ / #{t('custom.per_week')}" %></td>
          </tr>
        </table>
      </div>
      <%= link_to(t("custom.reserve"), reservations_path, :class => "btn btn-primary btn-large btn-block btn-reservation") %>
    </div> 
  </div>
</article>
<%# end %>

